# Example secrets file for Streamlit
# Copy to .streamlit/secrets.toml (DO NOT commit the actual secrets file)

GEMINI_API_KEY = "AIzaSyB_mtl9BUUEjuwcwUtmBk9M2Y-lUb3cFWoxt
pip : The term 'pip' is not recognized as the name of a cmdlet, 
function, script file, or operable program. Check the spelling of     
the name, or if a path was included, verify that the path is correct  
and try again.
At line:1 char:1
+ pip install -r requirements.txt
+ ~~~
    + CategoryInfo          : ObjectNotFound: (pip:String) [], Comma  
   ndNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundException

PS C:\Users\sujay\Downloads\rag_web_app> "
OPENAI_API_KEY = "your_real_openai_api_key_here"

